@font-face{
font-family: 'cool' ;
src: url(coolFont.ttf);

}

*{
margin: 0;
padding: 0;
font-family: 'cool';
}


body{
background-color: #0F071B;
color: white;
}

header{
border-bottom: 4px solid white;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
}

#nameInputContainer, #difficultySystem{
margin: 20px;
padding: 20px;
flex-direction: column;
gap: 10px;
border: 2px solid white;
background-color: #2E1252;
border-radius: 50px;
}

#nameInputContainer{
display: flex;
}


figure{
display:flex;
flex-direction:column;
width: 380px;
height: 380px;
align-items: center;
justify-content: center;
}

#nameInputContainer img{
width: 100%;
height: 350px;
border-radius: 50px;
border: 2px solid white;
}

figcaption{
	padding-top: 10px;
	background-color: #4D0141;
	border-bottom: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-radius: 5px;
}


#nameInputContainer input{
border-radius: 20px;
padding: 20px;
border: 1px solid white;
background-color: #312645;
color: white;
}

 button{
border: 1px solid white;
border-radius: 20px;
padding: 5px;
background-color: #312645;
color: white;
}



#difficultySystem{
display: none;
}

#humanChoiceContainer{
display: none;
align-items: center;
flex-direction: column;
}


#invisibleContainer{
display: flex;

}

#message{
color: #ACAD81;
}

.win{
color: #7BA8A8;
}


#finalText{
padding: 20px;

}

.lose{
color: #AD7979;
}


.tie{
color:#ACAD81;}



#endingImage{
margin: 20px;
border: 2px solid white;
border-radius: 30px;
/*width: 400px;*/
/*height: 400px;*/
max-height: 70dvh;
width: 90dvh;

}


#rock:hover, #paper:hover, #scissor:hover{
cursor: pointer;
}

#rock:hover{
content: url(images/rockButtonHover.png);
}

#paper:hover{
content: url(images/paperButtonHover.png);
}


#scissor:hover{
content: url(images/scissorButtonHover.png);
}


#green{
color: #63B463;
}


#finalTextContainer{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

#buttonsDiv{
display: flex;
gap: 10px;
justify-content: center;
align-content: center;

}



footer{
display: flex;
justify-content: center;
border-top: 2px solid white;
padding: 5px;
margin-top: 3px;
}
