
*{
margin: 0;
padding: 0;

}


body{
background-color: #14191A;
color: white;
}

header{
border-bottom: 4px solid white;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
}

#nameInputContainer, #difficultySystem{
margin: 20px;
padding: 20px;
flex-direction: column;
gap: 10px;
border: 2px solid white;
border-radius: 50px;
}

#nameInputContainer{
display: flex;
}

#nameInputContainer img{
width: 400px;
height: 400px;
border-radius: 50px;
border: 2px solid white;
}

#nameInputContainer input{
border-radius: 20px;
padding: 20px;
border: 1px solid white;
background-color: #80A5A5;
color: black;
}

 button{
border: 1px solid white;
border-radius: 20px;
padding: 5px;
background-color: #81ADAD;
}


#difficultySystem{
display: none;
}

#humanChoiceContainer{
display: none;
align-items: center;
flex-direction: column;
}


#invisibleContainer{
display: flex;

}

#message{
color: #ACAD81;
}

.win{
color: #7BA8A8;
}


#finalText{
padding: 20px;

}

.lose{
color: #AD7979;
}


.tie{
color:#ACAD81;}



#endingImage{
margin: 20px;
border: 2px solid white;
border-radius: 30px;
width: 400px;
height: 400px;

}
