
*{
margin: 0;
padding: 0;

}


body{
background-color: #14191A;
color: white;
}

header{
border-bottom: 4px solid white;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
}

#nameInputContainer, #difficultySystem{
margin: 20px;
padding: 20px;
flex-direction: column;
gap: 10px;
border: 2px solid white;
}

#nameInputContainer{
display: flex;
}


#difficultySystem{
display: none;
}

#humanChoiceContainer{
display: none;
align-items: center;
flex-direction: column;
}


#invisibleContainer{
display: flex;

}
